In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Time Series

## pd.to_datetime()

### datetime

In [27]:
import datetime

In [34]:
datetime.datetime(2020,1,1)

datetime.datetime(2020, 1, 1, 0, 0)

In [33]:
pd.to_datetime(datetime.datetime(2020,1,1))

Timestamp('2020-01-01 00:00:00')

### np.datetime64

In [40]:
np.datetime64(10, 'Y')

numpy.datetime64('1980')

In [39]:
pd.to_datetime(np.datetime64(10, 'Y'))

Timestamp('1980-01-01 00:00:00')

## pd.date_range()

In [64]:
pd.date_range('2012/1/1', periods=50, freq='S') # first argument can be both rtl and ltr (dd/mm/yyyy and yyyy/mm/dd)

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49'],
              dtype='datetime64[ns]', freq='S')

In [43]:
pd.Timestamp("2018-01-05")

Timestamp('2018-01-05 00:00:00')

## pd.Timestamp() ~ datetime.datetime()
https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html?highlight=timestamp#pandas.Timestamp

'yyyy/mm/dd hh:mm:ss'

In [48]:
pd.Timestamp(2018,1,1,12)

Timestamp('2018-01-01 12:00:00')

In [49]:
pd.Timestamp(2018,1,1,12).day_name()

'Monday'

## pd.Timedelta() ~ datetime.timedelta()

In [62]:
wed = pd.Timestamp(2018,1,1,12) + pd.Timedelta(1, 'W') + pd.Timedelta(2, 'D') # Shift 1 week and 2 days

In [63]:
wed.day_name()

'Wednesday'

In [7]:
df = pd.DataFrame({
    'year': [2016, 2017],
    'month': [2,3],
    'day': [4,5],
    'hour': [14,15],
    'minute': [30, 43]
})

In [8]:
pd.to_datetime(df)

0   2016-02-04 14:30:00
1   2017-03-05 15:43:00
dtype: datetime64[ns]